<!doctype html>
<html>

<head>
    <title>Crope Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen flex flex-col">
    <div class="Nav h-12 p-3 bg-black shadow flex items-center pr-10 text-white">
        <a href="/" class="text-2xl font-bold">
            Crope Blog
        </a>
        <a class="ml-auto mr-3 text-xs font-medium" href="{{ url_for('index')}}">Home</a>
        <a class="mr-3 text-xs font-medium" href="/index">Blogs</a>
        <a class="mr-3 text-xs font-medium" href="{{ url_for('login')}}">Login</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="mx-5 my-4">
        {% for category, message in messages %}
        <div class="bg-blue-100 border-t-4 border-blue-500 rounded-b text-blue-900 px-4 py-3 shadow-md" role="alert">
            <div class="flex">
                <div class="py-1"><svg class="fill-current h-6 w-6 text-blue-500 mr-4"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path
                            d="M10 20a10 10 0 110-20 10 10 0 010 20zm1-9V8a1 1 0 00-2 0v3a1 1 0 001 1h1zm-1 4a1 1 0 100-2 1 1 0 000 2z" />
                    </svg></div>
                <div>
                    <p class="font-bold">Notification</p>
                    <p class="text-sm">{{ message }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="grow">
        {% block content %}{% endblock %}
    </div>
</body>

</html>