{% extends "base.html" %}

{% block content %}
<div class="p-5 h-full">
    <div class="h-3/6 flex items-center">
        <!-- Mosaic Section -->
        <div class="flex w-3/6 h-3/6">
            <!-- Mosaic -->
            <img src="https://images.unsplash.com/photo-1546074177-ffdda98d214f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="read more image" class=" w-full object-cover">

        </div>
        <div class="flex flex-col justify-center w-3/6">
            <!-- Text about -->
            <p class="text-center">
                Welcome to the world of Reading
            </p>
        </div>
    </div>
    <div class="h-3/6 p-5 flex wrap justify-around">
        <!-- Latest Blogs Section -->
        <div class="mx-4 h-44 w-44 rounded shadow flex flex-col">
            <div class="bg-black text-white  p-2 rounded-top">
                Is PHP Really Dead?
            </div>
            <p class="p-2 text-clip overflow-hidden">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum illum totam nesciunt ex ratione error,
                magnam blanditiis commodi. Adipisci labore expedita provident sit nemo sed, numquam quod. Non, aliquam
                ut?
            </p>
            <hr class="mt-auto">
            <a href="#" class="w-full block p-2 text-xs text-blue-400">
                READ BLOG
            </a>
        </div>
        <div class="mx-4 h-44 w-44 rounded shadow flex flex-col">
            <div class="bg-black text-white  p-2 rounded-top">
                Is PHP Really Dead?
            </div>
            <p class="p-2 text-clip overflow-hidden">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum illum totam nesciunt ex ratione error,
                magnam blanditiis commodi. Adipisci labore expedita provident sit nemo sed, numquam quod. Non, aliquam
                ut?
            </p>
            <hr class="mt-auto">
            <a href="#" class="w-full block p-2 text-xs text-blue-400">
                READ BLOG
            </a>
        </div>
        <div class="mx-4 h-44 w-44 rounded shadow flex flex-col">
            <div class="bg-black text-white  p-2 rounded-top">
                Is PHP Really Dead?
            </div>
            <p class="p-2 text-clip overflow-hidden">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum illum totam nesciunt ex ratione error,
                magnam blanditiis commodi. Adipisci labore expedita provident sit nemo sed, numquam quod. Non, aliquam
                ut?
            </p>
            <hr class="mt-auto">
            <a href="#" class="w-full block p-2 text-xs text-blue-400">
                READ BLOG
            </a>
        </div>
    </div>
</div>
{% endblock %}